body {
    font-family: 'Inter', sans-serif;
    margin: 20px;
    padding: 0;
    background-color: hsl(227, 75%, 14%);
    font-size: 16px; /* Base font size for body */
}

h3 {
    font-size: 2rem; /* Headings larger and bold */
    font-weight: 700;
    margin-bottom: 1rem;
}
body.dark-mode {
    background-color: #e3fcf7;
    color: hsl(0, 0%, 100%);
}