.extension-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding:0px 0px 20px 20px;
}

h3 {
    font-size: 2rem; /* Headings larger and bold */
    font-weight: 700;
    margin-bottom: 1rem;
    
}
.extension-box{
    background-color: hsl(226, 25%, 17%);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.77);
    box-shadow: 1px 0.5px 2px rgb(255, 255, 255);
    display: grid;
    row-gap: 30px;

}
.extension-info{
     background-color: hsl(226, 25%, 17%);
    padding: 3px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    column-gap: 10px;
}
.extension-details p{
    margin: 4px 0px;
    /* font-size: 1rem; Description normal size */
    color: #e0e0e0;
    margin: 0.25rem 0;
}
.extension-name{
     font-size: 1.25rem; /* Extension name slightly larger */
    font-weight: 600;
}
.extension-setting{
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.remove-button{
    color: white;
    background-color: hsl(226, 25%, 17%);
    padding: 7px 14px;
    border: 1px solid hsl(226, 11%, 37%);
    border-radius: 20px;    
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.3s ease;
    font-weight: 500;
}
.remove-button:hover{
    background-color: hsl(225, 20%, 59%);
}
.activated-button{
    background-color: hsl(240, 1%, 81%);
    width: 35px;
    height: 16px;
    border-radius: 10px;
    /* display: flex; */
    padding: 2px;
}
.activated-button.active{
    background-color: hsl(17, 79%, 44%);
    width: 35px;
    height: 16px;
    border-radius: 10px;
    padding: 2px;
}
.myToggleButton.active{
    height: 15px;
    width: 15px;
    background-color: #32ae12;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
    transform: translateX(20px);
}
.myToggleButton{
    height: 15px;
    width: 15px;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    align-self: flex-end;
}

/* day mode code */
body.dark-mode .extension-box{
    background-color: #ffffff;
    /* background-color: unset; */
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0.5px 2px rgba(0, 0, 0, 0.1);
    color: rgb(0, 0, 0);
    display: grid;
    row-gap: 30px;
}
body.dark-mode .extension-info{
    background-color: white;
    padding: 3px;
    border-radius: 10px;
    color: black;
    display: flex;
    justify-content: flex-start;
    column-gap: 10px;
}
body.dark-mode .extension-details p{
    margin: 4px 0px;
    font-size: 1rem; /* Description normal size */
    color: #525151;
    margin: 0.25rem 0;
}
body.dark-mode .remove-button{
    color: white;
    background-color: rgb(255, 255, 255);
    padding: 7px 14px;
    /* border-color: hsl(226, 11%, 37%); */
    border: 1px solid hsl(226, 11%, 37%);
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.3s ease;
    /* font-size: 1rem; Button text size */
    font-weight: 500;
}
body.dark-mode .remove-button{
    color: black;
}
body.dark-mode .remove-button:hover{
    background-color: hsl(240, 1%, 86%);
}